#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  font-family: sans-serif;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.containar {
  width: 500px;
  border: 1px solid black;
}
.input-box {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  border: 0.1px solid rgb(17, 16, 16);
}
.input {
  width: 60%;
}
.button {
  background-color: rgb(144, 84, 176);
}
.heading {
  padding: 15px;
  font-size: 20px;
  font-size: 23px;
  font-weight: 500;
}

.button1 {
  padding: 5px;

  padding: 7px 10px 7px 10px;
  background-color: aquamarine;
}

.output {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;

  width: 96%;
}
.title {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: beige;
}
